.App-body {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.App-body form {
    display: flex;
    flex-direction: column;
}

.App-body input {
    margin-bottom: 10px;
    padding: 5px;
}

.App-body button {
    width: 60px;
    padding: 5px;
}