.App-body {
  height: 450px;
  border-top: 2px solid #e1003c;
  border-bottom: 2px solid #e1003c;
  padding: 32px 20px;
  box-sizing: border-box;
}

.App-body-form {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
