.App-header{
   border-bottom: 2px solid #e1003c;
    display: flex;
    align-items: center;
}

.App-body{
    height: 300px;
}

.App-footer{
    border-top: 2px solid #e1003c;
    text-align: center;
}