.table-cell {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.course-list {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.courses-body {
    height: 65vh;
}

.no-courses {
    margin-bottom: 1px solid gray;
}